<!DOCTYPE html>
<html>
<head>
    <title>Widget Settings &bull; Wix</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<p>Thanks! returning to Wix.com...</p> 


<!-- jQuery; needed for Twitter Bootstrap -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- Twitter Bootstrap components;
     include this to utilize the Color Pickers, based on Tooltip and Popover -->
<script type="text/javascript" src="/wix-ui-lib/javascripts/bootstrap/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/bootstrap/bootstrap-popover.js"></script>

<script type="text/javascript">
    console.log("<%= @post %>");
    $.ajax({
      crossDomain: true,
      type: "post",
      data: data,
      dataType: "jsonp",
      async: false,
      url: "<%= @post %>",
  }).done(function(data) {
    console.log("KEES: data is " + data);
    setTimeout(function(){ window.open("", "_authorize"); window.close("_authorize") }, 3000);
  });
    
</script>

</body>
</html>
