<!DOCTYPE html>
<html>
<head>
    <title>Widget Settings &bull; Wix</title>
    <link type="text/css" href="/wix-ui-lib/stylesheets/css/main.css" rel="stylesheet">
    <link type="text/css" href="/wix-ui-lib/stylesheets/css/settings.css" rel="stylesheet">
    <link type="text/css" href="/css/rss.settings.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<p>Thanks! returning to Wix.com...</p> 

<!-- Wix SDK -->
<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.35.0/js/Wix.js"></script>

<!-- jQuery; needed for Twitter Bootstrap -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- Twitter Bootstrap components;
     include this to utilize the Color Pickers, based on Tooltip and Popover -->
<script type="text/javascript" src="/wix-ui-lib/javascripts/bootstrap/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/bootstrap/bootstrap-popover.js"></script>

<!-- Wix UI Components -->
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/accordion/accordion.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/slider/slider.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/checkbox/checkbox.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/color-picker/color-pickers/simple.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/color-picker/color-pickers/advanced.js"></script>
<script type="text/javascript" src="/wix-ui-lib/javascripts/components/color-picker/color-picker.js"></script>

<!-- Settings View Logic -->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/rss.settings.js"></script>

<script type="text/javascript">
    var newSettings = <%= @settings %>;
    setTimeout(function(){ window.open("", "_authorize"); window.close("_authorize") }, 1000);
</script>

</body>
</html>
