<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/css/rss.widget.css" rel="stylesheet">
    <link type="text/css" href="/external_modules/scrollbar/css/jquery.tinyscrollbar.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>

<div class="widget-body">
    <div class="widget-header">
        <div class="main-title" id="feedTitle"></div>
    </div>

    <!-- NICK WIDGET -->
    <div class="suf suf-flight">
        <div class="suf-wrapper">
            <div class="suf-header hover-highlight placeholder" id="suf-header" style="position: relative">
                <%= @widget.header_text %>
            </div>

            <div class="suf-subheader hover-highlight placeholder" id="suf-subheader">
                <%= @widget.subheader_text %>
            </div>

            <div class="suf-fields">
                <ul>
                    <li>
                        <label>
                            <span id="i18n-109">Email Address</span>
                        </label>
                        <input type="text" name="email_address">
                    </li>
                </ul>
            </div>
            <div class="suf-submit">
                <button>
                    <%= @widget.sign_up_button_text %>
                </button>
            </div>
            <div class="suf-footer hover-highlight" data-bindattr-170="170">
                <div class="placeholder" id="suf-footer">
                    <span>Powered by</span>
                    <img src="assets/img/logos/long-logo-color.svg" width="139" height="26.7" />
                </div>
            </div>
        </div>
    </div>
    <!-- NICK WIDGET-->
</div>

<script type="text/javascript">
    var newSettings = <%= @settings %>;
</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.35.0/js/Wix.js"></script>
<script type="text/javascript" src="/js/handlebars.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/external_modules/scrollbar/js/jquery.tinyscrollbar.js"></script>
<script type="text/javascript" src="/js/rss.widget.js"></script>
</body>
</html>